<div class="px-4 py-7 my-5 text-center animate__animated animate__fadeIn" style="background-image: url('/images/grainy-texture.png'); background-size: cover;">
    <i class="fa-brands fa-pagelines fa-6x text-primary mb-4"></i>
    <h1 class="display-5 fw-bold mb-5">I Build Tools That Help People <br/> Grow&nbsp;and Discover Themselves</h1>
    <div class="col-lg-6 mx-auto">
      <p class="mb-4">I design systems that spark growth, encourage self-discovery, and make life simpler. Through intentional functionality and thoughtful design, I strive to empower people—including myself—to overcome challenges, adapt to change, and focus on what truly matters.</p>
      <!--<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
      </div> -->
    </div>
</div>

<div class="px-5 py-7 my-5 text-center animate__animated animate__fadeIn rounded" style="background-color: #F0EEE6; display: flex; justify-content: center; align-items: center;">
    <div class="d-flex flex-row flex-wrap">
        <div class="col-12 col-lg-6 text-left">
            <i class="fa-solid fa-spa fa-5x text-primary mb-4"></i>
            <h1 class="display-5 fw-bold mb-5">A Bit About Me</h1>
        </div>
        <div class="col-12 col-lg-6">
            <p class="mb-4 text-left">
                Hi, I'm Dylan. I’m a software developer focused on building tools that solve real problems and make life easier. 
                From apps that inspire personal growth to systems that streamline workflows, my goal is to make technology <span class="text-primary" style="font-weight: 600;">seamless, intuitive, and impactful</span>.
            </p>
            <p class="mb-4 text-left">
                With a strong foundation in backend development and UX design, I combine logic and creativity to craft solutions that truly enhance the user experience. My approach is driven by curiosity and a belief that technology should empower, not complicate.
            </p>
        </div>

    </div>
</div>



<div class="d-flex flex-column flex-lg-row gap-x-3">
    <div>
        <div class="portfolio-container mb-4 animate__animated animate__backInUp">
            <h1>What I'm Doing</h1>
            <hr class="header-underline">
            <div class="d-flex flex-column">
                <div class="d-flex flex-column flex-lg-row flex-nowrap flex-gap mb-4">
                    <div class="w-100 portfolio-container d-flex flex-column flex-md-row align-items-start gap-2">
                        <i class="icon icon-lg mr-2 ion-md-code text-primary"></i>
                        <div>
                            <h2 class="text-primary">Software Development</h2>
                            <p>I develop backend systems and infrastructures, ensuring apps are efficient, scalable, and built on solid foundations.</p>
                        </div>
                    </div>

                    <div class="w-100 portfolio-container d-flex flex-column flex-md-row align-items-start gap-2">
                        <i class="icon icon-lg mr-2 ion-md-clipboard text-primary"></i>
                        <div>
                            <h2 class="text-primary">UX Design</h2>
                            <p>I design user-friendly experiences, crafting intuitive interfaces and workflows that make apps easy and enjoyable to use.</p>
                        </div>
                    </div>
                </div>

                <div class="d-flex flex-column flex-lg-row flex-nowrap flex-gap">
                    <div class="w-100 portfolio-container d-flex flex-column flex-md-row align-items-start gap-2">
                        <i class="icon icon-lg mr-2 ion-logo-wordpress text-primary"></i>
                        <div>
                            <h2 class="text-primary">WordPress Site Design</h2>
                            <p>I create visually appealing and functional WordPress sites, tailoring designs to meet user needs and deliver engaging web experiences.</p>
                        </div>
                    </div>

                    <div class="w-100 portfolio-container d-flex flex-column flex-md-row align-items-start gap-2">
                        <i class="icon icon-lg mr-2 ion-ios-phone-portrait text-primary"></i>
                        <div>
                            <h2 class="text-primary">App Design</h2>
                            <p>I build apps from scratch, focusing on creating, deploying, and refining tools that meet user needs and enhance functionality.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>