<div class="d-flex flex-column flex-lg-row gap-x-3">
    <div class="d-none d-lg-flex portfolio-container h-100 flex-column align-items-center position-lg-sticky top-16">
        <div class="portfolio-filter" style="min-width: 18rem;">
            <h4 class="mb-4"><i class="icon ion-md-funnel"></i> Filters</h4>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="software-projects" value="Software Projects">
                <label class="form-check-label" for="software-projects">Software Projects</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="logos" value="Logos">
                <label class="form-check-label" for="logos">Logos</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="web-development" value="Web Development">
                <label class="form-check-label" for="web-development">Web Development</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="ux-design" value="UX Design">
                <label class="form-check-label" for="ux-design">UX Design</label>
            </div>
        </div>
    </div>
    <div class="w-100">
        <div class="portfolio-container mb-4 animate__animated animate__backInUp">
            <!-- Logos -->
            <h1>Logos</h1>
            <hr class="header-underline mb-4">
            <div id="logos-container" class="d-flex flex-row flex-wrap gap-x-3 mb-3">
                <a rel="lightbox" href="images/portfolio/logos/516.jpg">
                    <div class="portfolio-container"><img src="images/portfolio/logos/516.jpg" alt="516" class="my-lightbox-toggle portfolio-logo-image"></div>
                </a>
                <a rel="lightbox" href="images/portfolio/logos/dl-logo.png">
                    <div class="portfolio-container"><img src="images/portfolio/logos/dl-logo.png" alt="516" class="my-lightbox-toggle portfolio-logo-image"></div>
                </a>
                <a rel="lightbox" href="images/portfolio/logos/METNY.jpg">
                    <div class="portfolio-container"><img src="images/portfolio/logos/METNY.jpg" alt="516" class="my-lightbox-toggle portfolio-logo-image"></div>
                </a>
                <a rel="lightbox" href="images/portfolio/logos/NYITCOM.png">
                    <div class="portfolio-container"><img src="images/portfolio/logos/NYITCOM.png" alt="516" class="my-lightbox-toggle portfolio-logo-image"></div>
            </div>
        </div>

        <div class="portfolio-container animate__animated animate__backInUp">
            <!-- Projects -->
            <h1>Software Projects</h1>
            <hr class="header-underline mb-4">

            <div class="portfolio-container col-12 col-md-6 col-lg-4 p-0">
                <img src="images/background-1.jpg" class="br-1 portfolio-image" alt="Background">
                <div class="p-4">
                    <h2>Project Title</h2>
                    <a href="/#/" class="text-primary mb-2"><i class="icon ion-md-arrow-round-forward"></i> View Project</a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>

        <div id="content-container" class="d-flex flex-row flex-nowrap gap-3">

        </div>
    </div>
</div>