<div class="d-flex flex-column flex-lg-row gap-x-3">
    <div class="d-none d-lg-flex portfolio-container h-100 flex-column align-items-center position-sticky top-16">
        <div class="portfolio-container p-0 overflow-hidden mb-4">
            <img src="images/profile.jpg" class="br-1" alt="Profile Picture" style="width: 200px; height: 200px;">
        </div>
        <h3 class="text-center">Dylan&nbsp;Landman</h3>
        <div class="d-flex flex-row flex-nowrap gap-2 align-items-center justify-content-center">
            <div class="pill-container">Software&nbsp;Developer</div>
            <div class="pill-container">Web&nbsp;Developer</div>
        </div>
        <div class="divider"></div>

        <div class="d-flex flex-column flex-nowrap gap-3 justify-content-start">
            <div class="d-flex flex-row flex-nowrap align-items-center mb-3" style="width: 100%;">
                <div class="portfolio-container p-3 mr-2 mr-2 mr-2 d-flex align-items-center justify-content-center" style="width: 3.5rem;">
                    <i class="icon ion-md-mail text-primary icon-md"></i>
                </div>
                <div>
                    <p class="text-primary mb-0 small mb-2" >EMAIL</p>
                    <p class="text-secondary mb-0 fs-14">dylanlandman@gmail.com</p>
                </div>
            </div>

            <div class="d-flex flex-row flex-nowrap align-items-center mb-3">
                <div class="portfolio-container p-3 mr-2 mr-2 mr-2 d-flex align-items-center justify-content-center" style="width: 3.5rem;">
                    <i class="icon ion-md-call text-primary icon-md"></i>
                </div>
                <div>
                    <p class="text-primary mb-0 small mb-2">PHONE #</p>
                    <p class="text-secondary mb-0 fs-14">+1 (516) 514-2959</p>
                </div>
            </div>

            <div class="d-flex flex-row flex-nowrap align-items-center">
                <div class="portfolio-container p-3 mr-2 mr-2 mr-2 d-flex align-items-center justify-content-center" style="width: 3.5rem;">
                    <i class="icon ion-md-pin text-primary icon-md"></i>
                </div>
                <div>
                    <p class="text-primary mb-0 small mb-2">LOCATION</p>
                    <p class="text-secondary mb-0 fs-14">Hoboken, NJ</p>
                </div>
            </div>
        </div>
    </div>

    <div class="w-100">
        <div class="portfolio-container mb-4 w-100">
            <h1>Education</h1>
            <hr class="header-underline">
            <div class="portfolio-container">
                <div class="d-flex flex-column flex-lg-row gap-2">
                    <img src="images/umass.png" class="mr-3"style="width: 100px; height: 100px; border-radius: 8px;" alt="University of Massachusetts Amherst Logo" class="education-logo">
                    <div>
                        <h2>University of Massachusetts Amherst</h2>
                        <p class="degree mb-0">Major: Computer Science</p>
                        <p class="year mb-0 text-primary">2020-2023</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-container mb-4 w-100">
            <h1>Software Skills</h1>
            <hr class="header-underline">

            <div class="portfolio-container p-4 mb-4">
                <h2 class="text-primary mb-3">Frontend</h2>
                
                <div class="d-flex flex-row flex-wrap gap-x-1 zoom-out-on-md">
                    <div class="portfolio-container p-3 d-flex flex-row flex-nowrap gap-2 align-items-center w-fit-content">
                        <i class="icon ion-logo-html5 text-primary icon-md mr-1 w-fit-content"></i>
                        <p class="mb-0">HTML</p>
                    </div>
                    <div class="portfolio-container p-3 d-flex flex-row flex-nowrap gap-2 align-items-center w-fit-content">
                        <i class="icon ion-logo-css3 text-primary icon-md mr-1 w-fit-content"></i>
                        <p class="mb-0">CSS</p>
                    </div>
                    <div class="portfolio-container p-3 d-flex flex-row flex-nowrap gap-2 align-items-center w-fit-content">
                        <i class="icon ion-logo-javascript text-primary icon-md mr-1 w-fit-content"></i>
                        <p class="mb-0">JavaScript</p>
                    </div>
                    <div class="portfolio-container p-3 d-flex flex-row flex-nowrap gap-2 align-items-center w-fit-content">
                        <i class="icon ion-logo-javascript text-primary icon-md mr-1 w-fit-content"></i>
                        <p class="mb-0">jQuery</p>
                    </div>
                    <div class="portfolio-container p-3 d-flex flex-row flex-nowrap gap-2 align-items-center w-fit-content">
                        <i class="icon ion-logo-javascript text-primary icon-md mr-1 w-fit-content"></i>
                        <p class="mb-0">TypeScript</p>
                    </div>
                    <div class="portfolio-container p-3 d-flex flex-row flex-nowrap gap-2 align-items-center w-fit-content">
                        <i class="icon ion-logo-javascript text-primary icon-md mr-1 w-fit-content"></i>
                        <p class="mb-0">React JS</p>
                    </div>
                    <div class="portfolio-container p-3 d-flex flex-row flex-nowrap gap-2 align-items-center w-fit-content">
                        <i class="icon ion-logo-javascript text-primary icon-md mr-1 w-fit-content"></i>
                        <p class="mb-0">React Native</p>
                    </div>
                    <div class="portfolio-container p-3 d-flex flex-row flex-nowrap gap-2 align-items-center w-fit-content">
                        <i class="icon ion-logo-python text-primary icon-md mr-1 w-fit-content"></i>
                        <p class="mb-0">Django Template</p>
                    </div>
                </div>
            </div>

            <div class="portfolio-container p-4 mb-4">
                <h2 class="text-primary mb-3">Backend</h2>
                
                <div class="d-flex flex-row flex-wrap gap-x-1 zoom-out-on-md">
                    <div class="portfolio-container p-3 d-flex flex-row flex-nowrap gap-2 align-items-center w-fit-content">
                        <i class="icon ion-logo-python text-primary icon-md mr-1 w-fit-content"></i>
                        <p class="mb-0">Django</p>
                    </div>
                    <div class="portfolio-container p-3 d-flex flex-row flex-nowrap gap-2 align-items-center w-fit-content">
                        <i class="icon ion-logo-nodejs text-primary icon-md mr-1 w-fit-content"></i>
                        <p class="mb-0">Node JS</p>
                    </div>
                    <div class="portfolio-container p-3 d-flex flex-row flex-nowrap gap-2 align-items-center w-fit-content">
                        <i class="icon ion-md-swap text-primary icon-md mr-1 w-fit-content"></i>
                        <p class="mb-0">Nginx</p>
                    </div>
                    <div class="portfolio-container p-3 d-flex flex-row flex-nowrap gap-2 align-items-center w-fit-content">
                        <i class="icon ion-md-swap text-primary icon-md mr-1 w-fit-content"></i>
                        <p class="mb-0">Apache</p>
                    </div>
                    <div class="portfolio-container p-3 d-flex flex-row flex-nowrap gap-2 align-items-center w-fit-content">
                        <i class="icon ion-md-swap text-primary icon-md mr-1 w-fit-content"></i>
                        <p class="mb-0">Firebase</p>
                    </div>
                    <div class="portfolio-container p-3 d-flex flex-row flex-nowrap gap-2 align-items-center w-fit-content">
                        <i class="icon ion-ios-cloud text-primary icon-md mr-1 w-fit-content"></i>
                        <p class="mb-0">AWS EC2</p>
                    </div>
                    <div class="portfolio-container p-3 d-flex flex-row flex-nowrap gap-2 align-items-center w-fit-content">
                        <i class="icon ion-ios-cloud text-primary icon-md mr-1 w-fit-content"></i>
                        <p class="mb-0">AWS ALB</p>
                    </div>
                    <div class="portfolio-container p-3 d-flex flex-row flex-nowrap gap-2 align-items-center w-fit-content">
                        <i class="icon ion-ios-cloud text-primary icon-md mr-1 w-fit-content"></i>
                        <p class="mb-0">AWS Lightsail</p>
                    </div>
                </div>
            </div>
            <div class="portfolio-container p-4 mb-4">
                <h2 class="text-primary mb-3">Servers/Databases</h2>
                
                <div class="d-flex flex-row flex-wrap gap-x-1 zoom-out-on-md">
                    <div class="portfolio-container p-3 d-flex flex-row flex-nowrap gap-2 align-items-center w-fit-content">
                        <i class="icon ion-md-cube text-primary icon-md mr-1 w-fit-content"></i>
                        <p class="mb-0">NoSQL</p>
                    </div>
                    <div class="portfolio-container p-3 d-flex flex-row flex-nowrap gap-2 align-items-center w-fit-content">
                        <i class="icon ion-md-cube text-primary icon-md mr-1 w-fit-content"></i>
                        <p class="mb-0">PostgreSQL</p>
                    </div>
                    <div class="portfolio-container p-3 d-flex flex-row flex-nowrap gap-2 align-items-center w-fit-content">
                        <i class="icon ion-md-cube text-primary icon-md mr-1 w-fit-content"></i>
                        <p class="mb-0">GraphQL</p>
                    </div>
                    <div class="portfolio-container p-3 d-flex flex-row flex-nowrap gap-2 align-items-center w-fit-content">
                        <i class="icon ion-md-cloud text-primary icon-md mr-1 w-fit-content"></i>
                        <p class="mb-0">AWS S3</p>
                    </div>
                </div>
            </div>
            <div class="portfolio-container p-4 mb-4">
                <h2 class="text-primary mb-3">Infrastructure</h2>
                
                <div class="d-flex flex-row flex-wrap gap-x-1 zoom-out-on-md">
                    <div class="portfolio-container p-3 d-flex flex-row flex-nowrap gap-2 align-items-center w-fit-content">
                        <i class="icon ion-md-cloud text-primary icon-md mr-1 w-fit-content"></i>
                        <p class="mb-0">AWS</p>
                    </div>
                    <div class="portfolio-container p-3 d-flex flex-row flex-nowrap gap-2 align-items-center w-fit-content">
                        <i class="icon ion-logo-codepen text-primary icon-md mr-1 w-fit-content"></i>
                        <p class="mb-0">Heroku</p>
                    </div>
                    <div class="portfolio-container p-3 d-flex flex-row flex-nowrap gap-2 align-items-center w-fit-content">
                        <i class="icon ion-md-swap text-primary icon-md mr-1 w-fit-content"></i>
                        <p class="mb-0">Firebase</p>
                    </div>
                    <div class="portfolio-container p-3 d-flex flex-row flex-nowrap gap-2 align-items-center w-fit-content">
                        <i class="icon ion-logo-apple text-primary icon-md mr-1 w-fit-content"></i>
                        <p class="mb-0">Expo React Native</p>
                    </div>
                    <div class="portfolio-container p-3 d-flex flex-row flex-nowrap gap-2 align-items-center w-fit-content">
                        <i class="icon ion-logo-github text-primary icon-md mr-1 w-fit-content"></i>
                        <p class="mb-0">GitHub</p>
                    </div>
                    <div class="portfolio-container p-3 d-flex flex-row flex-nowrap gap-2 align-items-center w-fit-content">
                        <i class="icon ion-logo-wordpress text-primary icon-md mr-1 w-fit-content"></i>
                        <p class="mb-0">WordPress</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>